<!-- component -->
<div class="flex justify-end mr-5">
  <app-form-menu class="mr-3" [routerLink]="'/dashboard/user/list'" [label]="label"></app-form-menu>
</div>
<div class="bg-white shadow-md border border-gray-200 rounded-lg px-8 pt-6 pb-8 mb-4 flex flex-col my-2">

  <form [formGroup]="frmGroupUser" (ngSubmit)="onSubmit()" >

    <app-form-header [title]="childTitle"></app-form-header>
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Nom
        </label>
        <input
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
          type="text"
          formControlName="last_name"
          placeholder="Nom...">
        <div *ngIf="last_name?.invalid && last_name?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le nom est requis </span>
        </div>
      </div>
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Prénom
        </label>
        <input
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
          type="text"
          formControlName="first_name"
          placeholder="Prénom...">
        <div *ngIf="first_name?.invalid && first_name?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le Prénom est requis </span>
        </div>
      </div>
      <div class="md:w-1/3 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Email
        </label>
        <input
          [readOnly]="!isAddMode"
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
          type="email"
          formControlName="email"
          autocomplete="username"
          placeholder="Email...">
        <div *ngIf="email?.invalid && email?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* L'adresse mail est requise </span>
        </div>
      </div>
    </div>

    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/1 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Rôle
        </label>
        <div class="flex">
          <div class="md:w-1/2 mr-4 flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
            <input
              id="bordered-radio-3"
              value="Admin"
              type="radio"
              name="role"
              formControlName="role"
              class="w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="bordered-radio-3" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Admin</label>
          </div>
          <div class="md:w-1/2 mr-4 flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
            <input
              id="bordered-radio-1"
              value="Doctor"
              type="radio"
              name="role"
              formControlName="role"
              class="w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Doctor</label>
          </div>
          <div class="md:w-1/2 flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
            <input
              id="bordered-radio-2"
              type="radio"
              name="role"
              formControlName="role"
              value="Secretary"
              class="w-6 h-6 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label
              for="bordered-radio-2"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Secretary</label>
          </div>
        </div>

        <div *ngIf="last_name?.invalid && last_name?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le nom est requis </span>
        </div>
      </div>

    </div>
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-1/2 px-3 mb-6 md:mb-0">
        <!--<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          password
        </label>-->
        <input

          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
          type="hidden"
          formControlName="password"
          autocomplete="new-password"
          placeholder="************">
        <div *ngIf="password?.invalid && password?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le mot de passe est requis </span>
        </div>
      </div>
      <div class="md:w-1/2 px-3">
        <!--<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
          Confirmation
        </label>-->
        <input
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
          type="hidden"

          formControlName="password_confirm"
          autocomplete="new-password"
          placeholder="***********">
        <div *ngIf="password_confirm?.invalid && password_confirm?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le confirmation du mot de passe est requise </span>
        </div>
      </div>

    </div>

    <div class="-mx-3 flex item-center mb-6 w-64">
        <button *ngIf="isAddMode" [disabled]="!frmGroupUser.valid" type="submit" class="w-24 bg-indigo-600 mt-3 p-3 rounded-2xl text-white font-semibold mb-2">Créer</button>
        <button *ngIf="!isAddMode" [disabled]="!frmGroupUser.valid" type="submit" class="bg-indigo-600 mt-3 p-3  rounded-2xl text-white font-semibold mb-2">Metre à jour</button>
    </div>
  </form>
</div>
