<!--<app-site-header/>
<main class="container mx-auto mt-8 px-4">
  <app-banner (loginClick)="openLoginModal()"/>-->
<!--<app-modal-login [isOpen]="isLoginModalOpen" (close)="closeLoginModal()" (close)="closeLoginModal()">

</app-modal-login>-->

  <!-- about us-->
<!-- <section class="bg-gray-100">
   <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <app-breadcrumb/>
     <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8 mb-6">

       <div class="max-w-lg">
           <app-welcome-title [welcomeTitle]="currentWelcomeTitle"/>
           <app-welcome-article [innerHTML]="welcomeMessage" class="prose"/>
       </div>
       <div class="mt-12 md:mt-0">
         <img src="{{currentWelcomeImg}}" alt="About Us Image" class="object-cover rounded-lg shadow-md">
       </div>
    </div>

<section class="grid gap-6 text-justify lg:grid-cols-2 xl:grid-cols-5">
  <img src="{{currentWelcomeImg}}" alt="" class="object-cover w-full h-4/6 rounded-md xl:col-span-3 bg-gray-500">
  <div class="w-full h-4/6 p-6 rounded-md sm:p-16 xl:col-span-2 bg-gray-50">
    <h1 class="text-5xl font-extrabold text-gray-900">
      <app-welcome-title [welcomeTitle]="currentWelcomeTitle"/>
    </h1>
    <app-welcome-article [innerHTML]="welcomeMessage" class="prose tex-justify"/>
  </div>

</section>-->



<!--<div class="p-5 mx-auto sm:p-10 md:p-16 bg-gray-100 text-gray-800">-->

<div class="flex flex-col max-w-3xl mx-auto overflow-hidden rounded">
  <app-breadcrumb [parent]="breadCrumbParent"  />
  <!--<img src="https://source.unsplash.com/random/480x360" alt="" class="w-full h-60 sm:h-96 bg-gray-500">-->
  <app-image [frontEndImage]="currentWelcomeImg"></app-image>
  <div class="p-6 pb-12 m-4 mx-auto -mt-16 space-y-6 lg:max-w-2xl sm:px-10 sm:mx-12 lg:rounded-md bg-gray-50">
    <div class="space-y-2">
        <app-titre  class="inline-block text-2xl font-semibold sm:text-3xl" [titre]="currentWelcomeTitle"/>
        <p class="text-xm text-gray-600">
        @if(currentLocale==='fr'){
        <a [routerLink]="['/home/en']"><span class="fi fi-gb fis"></span> English</a>
        }
        @else{
        <a [routerLink]="['/accueil/fr']"><span class="fi fi-fr fis"></span> Français</a>
        }
      </p>
    </div>
    <div class="text-gray-800">
      <app-article [innerHTML]="welcomeMessage" ngSkipHydration class="prose md:prose-lg lg:prose-xl"></app-article>
      <app-image [frontEndImage]="currentWelcomeImg"></app-image>
    </div>
  </div>
</div>
<!--</div>-->





<!--</div>
</section>

</main>
<app-site-footer/>-->
