<div class="min-h-screen  flex flex-col items-center">
  <!-- Header -->
  <!-- Main content -->
  <main class="flex-grow container mx-auto py-6 px-4">

    <div class="bg-white p-6 rounded-lg shadow-md">
      <header class="grid grid-cols-1 bg-gradient-to-r from-blue-400 via-blue-500 to-blue-700 w-full p-4 md:flex justify-between items-center rounded-t mb-5 shadow-md ">
        <h1 class="flex text-white text-2xl font-bold">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 9V4.5M9 9H4.5M9 9 3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5 5.25 5.25" />
          </svg>
          {{currentPatient}}
        </h1>
        <button class="mt-1 flex bg-red-500 text-white px-4 py-2 shadow-md rounded hover:bg-red-700" (click)="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
          </svg>
          Déconnexion
        </button>
      </header>
      <!-- Section Title -->
      <div class="md:flex justify-between items-center mb-4 ">
        <h2 class="md:flex text-xl font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
          </svg>
          Mes Rendez-vous
        </h2>
        <button class="md:flex bg-green-600 text-white px-4 py-2 shadow-md rounded hover:bg-green-700" (click)="openModal()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          Ajouter un rendez-vous
        </button>
      </div>

      <!-- Appointments List -->
      <ul>
        <!-- Sample Appointment 1 -->
        <li *ngFor="let appointment of appointments"  class="flex justify-between items-center p-4 border-b">
          <div>
            <h3 class="text-lg font-semibold">Consultation</h3>
            <p class="text-gray-600">Date : {{appointment.appointment_date | date:'EEEE, d MMMM y'}}</p>
            <p class="text-gray-600">Heure : {{appointment.appointment_date | date: 'HH:mm'}}</p>
          </div>
          <button class="flex bg-red-500 text-white px-3 py-2 shadow-md rounded hover:bg-red-600" (click)="onCancel(appointment.id)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
            Annuler
          </button>
        </li>

      </ul>
    </div>

  </main>
</div>

<!-- Modal HTML -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="isModalOpen">
  <div class="flex items-center justify-center min-h-screen px-2">
    <div class="bg-white rounded-lg shadow-xl w-full max-w-lg p-6 space-y-6">
      <!-- Modal Header -->
      <div class="flex justify-between items-center border-b pb-2">
        <h3 class="text-lg font-semibold text-gray-700">Nouveau Rendez-vous</h3>
        <button (click)="closeModal()" class="text-gray-600 hover:text-gray-900">
          <span class="text-xl">&times;</span>
        </button>
      </div>

      <!-- FullCalendar for slot_id -->
      <div >

      </div>

      <!-- Form Fields -->
      <form [formGroup]="frmGroupAppointment" (ngSubmit)="submitForm()">
        <div class="mt-4">
          <full-calendar [options]="calendarOptions" ></full-calendar>
        </div>
        <!-- Patient ID -->
        <div class="mt-4 hidden">
          <label for="patient_id" class="block text-sm font-medium text-gray-700">Patient ID</label>
          <input id="patient_id" type="text" formControlName="patient_id" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
        </div>

        <!-- Doctor ID -->
        <div class="mt-4">
          <label for="doctor_id" class="block text-sm font-medium text-gray-700 hidden">Doctor ID</label>
          <input id="doctor_id" type="text" formControlName="doctor_id" class=" hidden mt-1 block w-full border-gray-300 rounded-md shadow-sm">
        </div>

        <!-- Appointment Date -->
        <div class="mt-4 ">
          <label for="appointment_date" class="block text-sm font-medium text-gray-700 hidden">Appointment Date</label>
          <input id="appointment_date" type="text" formControlName="appointment_date" class=" hidden mt-1 block w-full border-gray-300 rounded-md shadow-sm" readonly>
        </div>

        <!-- Status -->
        <div class="mt-4">
          <label for="status" class="block text-sm font-medium text-gray-700  hidden">Status</label>
          <select id="status" formControlName="status" class=" hidden mt-1 block w-full border-gray-300 rounded-md shadow-sm">
            <option value="pending">Pending</option>
            <option value="confirmed">Confirmed</option>
            <option value="canceled">Canceled</option>
          </select>
        </div>

        <!-- Submit Button -->
        <div class="mt-6 hidden">
          <button [disabled]="!frmGroupAppointment.valid" type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Save Appointment</button>
        </div>
      </form>
    </div>
  </div>
</div>

