<div class="mx-auto max-w-xs">
  <div class="flex flex-col justify-center max-w-xs p-6 shadow-md rounded-xl sm:px-12 bg-gray-50 text-gray-800">
    <img src="https://source.unsplash.com/150x150/?portrait?3" alt="" class="w-32 h-32 mx-auto rounded-full bg-gray-500 aspect-square">
    <div class="space-y-4 text-center divide-y divide-gray-300">
      <div class="my-2 space-y-1">
        <h2 class="text-xl font-semibold sm:text-2xl">{{currentUser?.profile}}</h2>
        <p class="px-5 text-xs sm:text-base text-gray-600">{{currentUser?.role}}</p>
      </div>

    </div>
  </div>
</div>
