<!-- component
<div class="bg-white shadow-md border border-gray-200 rounded-lg px-8 pt-6 pb-8 mb-4 flex flex-col my-2">


</div>-->

<!-- component -->
<div class="h-screen md:flex">
  <div class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
    <img ngSrc="assets/images/Medicardice.png" alt="Medicardice" class="object-cover w-full h-full" fill>
  </div>

  <div class="flex md:w-1/2 justify-center py-8 items-center bg-white">
    <form [formGroup]="frmGroupPassword" (ngSubmit)="onSubmit()" >
      <h1 class="uppercase py-5 font-bold text-2xl mb-5 text-transparent bg-gradient-to-tl from-blue-600 to-cyan-400 bg-clip-text">mise à jour du mot de passe</h1>
      <div *ngIf="message" class="my-1 px-1 py-1 text-red-600 mx-3 mb-3">
        <span>* {{message}} </span>
      </div>
      <div class="mx-3 md:flex mb-3">
        <div class="md:w-1/1 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
            password
          </label>
          <input

            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3"
            type="password"
            formControlName="password"
            autocomplete="new-password"
            placeholder="************">

        </div>


      </div>
      <div *ngIf="password?.invalid && password?.touched" class="my-1 px-1 py-1 text-red-600">
        <div *ngIf="password?.errors?.['required']">
          <span>* Le mot de passe est requis </span>
        </div>
        <div *ngIf="password?.errors?.['minlength']">
          <span>* Le mot de passe doit comporter au moins 6 caractères</span>
        </div>

      </div>
      <div class="mx-3 md:flex mb-3">
        <div class="md:w-1/1 px-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
            Confirmation
          </label>
          <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
            type="password"
            formControlName="password_confirm"
            autocomplete="new-password"
            placeholder="***********">

        </div>

      </div>
      <div *ngIf="password_confirm?.invalid && password_confirm?.touched" class="my-1 px-1 py-1 text-red-600">
        <span>* La confirmation du mot de passe est requise </span>
      </div>
      <input
        class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
        type="hidden"
        formControlName="id"
      >
      <div class="mx-3 flex item-center mb-6 w-64">
        <button [disabled]="!frmGroupPassword.valid" type="submit" class="px-5 block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Mettre à jour</button>
      </div>
    </form>
  </div>
</div>

