<div class="min-h-screen flex">
  <!-- Sidebar -->
  <aside class="w-64 bg-gradient-to-tr from-blue-800 to-purple-700 text-white flex-shrink-0">
    <nav class="mt-5 flex flex-col">

      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/menu']"

        class="flex items-center space-x-2 py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
        </svg>
        <span>Administrateurs</span>
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/consultation/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Consultations
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/electrocardiographie/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        ElectroCardiographie
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/echocardiographie/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        EchoCardiographie
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/stress/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Stress
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/holter/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Holter
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/monitoring/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Monitoring
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/catheterization/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Cathétérisme
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/coronaryangioplastie/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Coronarographie
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/angio/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Angio
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/medecin/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Médecin
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/hypertension/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Hypertension
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/chest/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Chest
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/heart/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Heart
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/profile']"
        (click)="handleProfile()"

        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Profile
      </a>
      <a
        routerLinkActive="bg-gray-700"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/dashboard/welcome/list']"
        class="py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">
        Welcome
      </a>

    </nav>
    <!--<nav class="bg-gray-800 text-white ">-->
    <!--<ul class="grid grid-rows-3">-->
      <!-- Menu Item 1 -->
    <!-- <li class="group relative">-->
    <!-- <a href="#" class="block px-4 py-2 hover:bg-gray-700">Accueil</a>-->
    <!-- Sous-menu 1 -->
    <!-- <ul class="absolute left-0 hidden bg-gray-700 group-hover:block">
      <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 1-1</a></li>
      <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 1-2</a></li>
      <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 1-3</a></li>
    </ul>
  </li>-->

  <!-- Menu Item 2 -->
    <!--<li class="group relative">
      <a href="#" class="block px-4 py-2 hover:bg-gray-700">Services</a>-->
      <!-- Sous-menu 2 -->
    <!-- <ul class="absolute left-0 hidden bg-gray-700 group-hover:block">
       <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 2-1</a></li>
       <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 2-2</a></li>
       <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 2-3</a></li>
     </ul>
   </li>-->

   <!-- Menu Item 3 -->
    <!--   <li class="group relative">-->
    <!--     <a href="#" class="block px-4 py-2 hover:bg-gray-700">Contact</a> -->
        <!-- Sous-menu 3 -->
    <!--  <ul class="absolute left-0 hidden bg-gray-700 group-hover:block">
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 3-1</a></li>
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 3-2</a></li>
        <li><a href="#" class="block px-4 py-2 hover:bg-gray-600">Sous-menu 3-3</a></li>
      </ul>
    </li>
  </ul>
</nav>-->
</aside>

<!-- Content area -->
  <div class="flex-1 flex flex-col bg-gray-200">
    <!-- Header -->
    <app-nav/>

    <!-- Main Content -->
    <main class="p-4 flex-1">
      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4">
        <router-outlet></router-outlet>
        <!-- More cards as needed -->
      </div>
    </main>
  </div>
</div>
