<!-- component -->
<div class="h-screen md:flex rounded shadow">
  <div class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
    <img src="assets/images/Medicardice.png" alt="Medicardice" class="object-cover w-full h-full">
  </div>

  <div class="flex md:w-1/2 justify-center py-8 items-center bg-white">
    <form class="bg-white" [formGroup]="frmGroupRegister" (ngSubmit)="registerPatient()">
      <h1 class="uppercase py-5 font-bold text-2xl mb-5 text-transparent bg-gradient-to-tl from-blue-600 to-cyan-400 bg-clip-text">patient</h1>
      <div class="{{ last_name?.invalid && (last_name?.touched || last_name?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="last_name"
          placeholder="Nom"
        />
      </div>
      <div class="{{ first_name?.invalid && (first_name?.touched || first_name?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="first_name"
          placeholder="Prénom"
        />
      </div>
      <div class="{{ dob?.invalid && (dob?.touched || dob?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="date"
          formControlName="dob"
          placeholder="Date de naiss..."
        />
      </div>
      <div class="{{ email?.invalid && (email?.touched || email?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="email"
          placeholder="Email"
        />
      </div>
      <div class="{{ phone_number?.invalid && (phone_number?.touched || phone_number?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl mb-2">

        <svg xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor" class="h-5 w-5 text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
        </svg>

        <input
          class="pl-2 outline-none border-none"
          type="text"
          formControlName="phone_number" id="" placeholder="Tél" />
      </div>
      <div class="{{ password?.invalid && (password?.touched || password?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="password"
          formControlName="password"  placeholder="Mot de passe" />
      </div>
      <div class="{{ password_confirm?.invalid && (password_confirm?.touched || password_confirm?.dirty)? 'border-2 border-rose-600':'' }} flex items-center border-2 py-2 px-3 rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd" />
        </svg>
        <input
          class="pl-2 outline-none border-none"
          type="password"
          formControlName="password_confirm"  placeholder="Confirmation"
        />
      </div>
      <button type="submit" [disabled]="frmGroupRegister.status=='INVALID'"  class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>

    </form>
  </div>
</div>
