<section class="relative h-96 rounded-tl-lg rounded-tr-lg -z-50  overflow-hidden shadow-xl">
  <video autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
    <source src="assets/movie/foading.webm" type="video/webm">
    <track kind="descriptions" src="assets/movie/caption.fr.vtt" srclang="fr" label="Description">
  </video>
  <div class="video-content space-y-2 absolute  absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <h1 class="font-bold text-3xl text-gray-50 uppercase">Bienvenue Chez Médicardice</h1>
  </div>
</section>

