<footer class="bg-blue-800 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <h3 class="text-xl font-semibold mb-4">Medicardice</h3>
        <p >Votre santé cardiaque, notre priorité absolue.</p>
      </div>
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <h3 class="text-xl font-semibold mb-4">Contact</h3>
        <p class="text-gray-300">32 Avenue Brugman</p>
        <p class="text-gray-300">1060 Bruxelles</p>
        <p  class="text-gray-300">Tél/Phone : (+32) 2 347 53 11</p>
      </div>
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <h3 class="text-xl font-semibold mb-4">Liens Rapides</h3>
        <ul>
          <li>
            <a href="https://www.cardiostjean.be/" target="_blank" class="hover:text-blue-300">
              Cardiology Unit, Saint-Jean Clinic
            </a>
          </li>
          <li><a href="https://www.clstjean.be"  target="_blank"   class="hover:text-blue-300">Clinique Saint-Jean, Bruxelles</a></li>
          <li><a href="https://www.bscardio.be/" target="_blank" class="hover:text-blue-300">Société Belge de Cardiologie</a></li>
        </ul>
      </div>

    </div>
    <div class="border-t border-blue-700 mt-8 pt-8 text-center">
      <p  class="text-gray-300">&copy; MediCardice 2007 - {{year}} . Tous droits réservés.</p>
    </div>
  </div>
</footer>
